<div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon-regular glyphicon-volume-up"></span>
        {{ 'Subscribe' | trans }}
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="{{ url('subscription/subscribe', {'object': object, 'email': 0}) }}">
                <span class="glyphicon-regular glyphicon-volume-down"></span>
                {{ 'Receive notifications' | trans }}
            </a>
        </li>
        <li>
            <a href="{{ url('subscription/subscribe', {'object': object, 'email': 1}) }}">
                <span class="glyphicon-regular glyphicon-volume-up"></span> {{ 'Receive notifications and emails' | trans }}
            </a>
        </li>
    </ul>
</div>