<li class="dropdown-submenu">
    <a rel="nofollow" tabindex="-1" href="#"><span class="fa fa-volume-up"></span> {{ 'Subscribe' | trans }}</a>
    <ul class="dropdown-menu left">
        <li><a rel="nofollow" href="{{ url('subscription/subscribe', {'object': object, 'email': 0}) }}"><span
                        class="fa fa-volume-down"></span> {{ 'Receive notifications' | trans }}
            </a></li>
        <li><a rel="nofollow" href="{{ url('subscription/subscribe', {'object': object, 'email': 1}) }}"><span
                        class="fa fa-volume-up"></span> {{ 'Receive notifications and emails' | trans }}
            </a></li>
    </ul>
</li>