{##
 # This file is part of Athene2.
 #
 # Copyright (c) 2013-2018 Serlo Education e.V.
 #
 # Licensed under the Apache License, Version 2.0 (the "License")
 # you may not use this file except in compliance with the License
 # You may obtain a copy of the License at
 #
 #    http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License.
 #
 # @copyright Copyright (c) 2013-2018 Serlo Education e.V.
 # @license   http://www.apache.org/licenses/LICENSE-2.0 Apache License 2.0
 # @link      https://github.com/serlo-org/athene2 for the canonical source repository
 #}
{% set title = false %}
{% if entity.getHead() %}
    {% set head = entity.getHead() %}
    {% set title = head.get('title') | escape %}
    {% set convert = false %}
{% else %}
    {% set convert = true %}
{% endif %}
{% do headTitle(entity.getId()) %}
<div class="page-header">
    <div class="pull-right btn-group hidden-xs">
        {% include 'entity/view/partials/actions/controls' with {'entity' : entity, 'convert' : convert} %}
    </div>
    <h1>
        {% if title %}
            {{ title }} <small>{{ 'Pending approval' | trans }}</small>
        {% elseif entity.getHead() %}
            {{ entity.getId() }} <small>{{ 'Pending approval' | trans }}</small>
        {% else %}
            {{ entity.getId() }} <small>{{ 'Dead node' | trans }}</small>
        {% endif %}
    </h1>
    {% include('entity/view/partials/actions/big') with {'entity' : entity, 'convert' : convert} %}
</div>
{% include 'entity/page/partials/alerts' %}
<div class="panel panel-danger">
    <div class="panel-heading">
        <strong>
            <span class="fa fa-exclamation-triangle"></span> {{ 'Warning' | trans }}
        </strong>
    </div>
    <div class="panel-body">
        {% if entity.getHead() %}
            {% trans %}
            This content is pending approval and may therefore not be viewed yet.
            {% endtrans %}
        {% else %}
            {% trans %}
            This content is a dead node and has no content. Please edit or remove it.
            {% endtrans %}
        {% endif %}
    </div>
</div>
