{% set title = 'course-page' | trans %}
{% set revision = entity.getCurrentRevision() %}
{% set content = markdown().toHtml(revision.get('content')) | raw %}

{% set previous = parent.getPreviousValidSibling('link', entity) %}
{% set next = parent.getNextValidSibling('link', entity) %}

{% if previous is not null %}
    <div class="row">
        <div class="col-xs-12">
            <a href="{{ normalize().toUrl(previous) }}">
                <h4>
                    <i class="fa fa-arrow-circle-left"></i>
                    {{ previous.getCurrentRevision().get('title') }}
                </h4>
            </a>
        </div>
    </div>
{% endif %}

<div class="row">
    <div class="col-xs-12">
        <h2 class="heading-content">{{ revision.get('title') }}</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{ content }}
    </div>
</div>

{% if next is not null %}
    <div class="row">
        <div class="col-xs-12">
            <div class="pull-right">
                <a href="{{ normalize().toUrl(next) }}">
                    <h4>
                        {{ next.getCurrentRevision().get('title') }}
                        <i class="pull-right fa fa-arrow-circle-right"></i>
                    </h4>
                </a>
            </div>
        </div>
    </div>
{% endif %}

<section id="discussion-{{ entity.getId() }}">
    {{ discussion(entity).render() }}
</section>
