{% set title = 'course-page' | trans %}
{% set revision = entity.getCurrentRevision() %}
{% set content = markdown().toHtml(revision.get('content')) | raw %}

{% set previous = parent.getPreviousValidSibling('link', entity) %}
{% set next = parent.getNextValidSibling('link', entity) %}

{% if previous is not null %}
    <div class="row">
        <div class="col-xs-12">
            <div class="icon-link">
                <a href="{{ normalize().toUrl(previous) }}">
                    <span class="h4">
                        <i class="fa fa-arrow-circle-left fa-2x"></i>
                        &ensp;<span>{{ previous.getCurrentRevision().get('title') }}</span>
                    </span>
                </a>
            </div>
        </div>
    </div>
{% endif %}

<div class="row">
    <div class="col-xs-12">
        <h1 class="heading-content">{{ revision.get('title') }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{ content }}
    </div>
</div>

{% if next is not null %}
    <div class="row">
        <div class="col-xs-12">
            <div class="pull-right">
                <div class="icon-link icon-link-lower">
                    <a href="{{ normalize().toUrl(next) }}">
                        <span class="h4">
                            <span>{{ next.getCurrentRevision().get('title') }}</span>&ensp;
                            <i class="fa fa-arrow-circle-right fa-2x"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% include 'entity/view/partials/license' %}

{% set discussions %}
<section id="discussion-{{ entity.getId() }}" class="discussions clearfix">
    {{ discussion(entity).render() }}
</section>
{% endset %}
{% do placeholder('discussions').set(discussions) %}
