{% set title = 'text-exercise-group' | trans %}
<article class="exercisegroup">
    <section class="row" style="margin-right:0px">
        <div class="col-xs-12 col-sm-11" itemprop="articleBody">
            {{ markdown().toHtml(entity.getCurrentRevision().get('content')) }}
        </div>
        <div class="col-xs-hidden col-sm-1" style="padding:0">
            <div class="pull-right">
                <div class="hidden-xs btn btn-default btn-xs" data-toggle="tooltip" data-placement="bottom"
                     title="{% trans %} I want to comment this {% endtrans %}">
                    <a data-toggle="collapse" data-parent="#discussions-{{ entity.getId() }}"
                       href="#discussions-{{ entity.getId() }}">
                        <span class="fa fa-comments"></span>
                    </a>
                </div>
                {% include 'entity/view/partials/actions/small-essential' %}
            </div>
        </div>
    </section>
    <section class="collapse" id="discussions-{{ entity.getId() }}">
        {{ discussion(entity).render('minimalistic', 2) }}
    </section>
    {% set index = 0 %}
    {% for child in entity.getChildren('link', 'grouped-text-exercise') if not child.isTrashed() and child.hasCurrentRevision() %}
        <section class="row">
            <div class="col-sm-1 hidden-xs">
                <em>{{ toAlpha(index) }}) </em>
                {% set index = index + 1 %}
            </div>
            <div class="col-sm-11 col-xs-12">
                {% include 'entity/view/default' with {'entity': child, 'parent': entity} only %}
            </div>
        </section>
    {% endfor %}
</article>