{% set title = 'video' | trans %}
{% set description = renderer.toHtml(entity.getCurrentRevision().get('description')) %}
<article>
    <section>
        {% set url = entity.getCurrentRevision().get('content') %}

        {% if url matches '{^(https?:\\/\\/)?(.*?youtube\\.com\\/watch\\?v=.+|.*?youtu\\.be\\/.+)}' %}
            {% set id = url | split('?v=') | last | split('/') | last | split('&') | first %}
            {% set src = 'https://www.youtube-nocookie.com/embed/%s?html5=1' | format(id) %}
            {% set type = 'youtube' %}
        {% elseif url matches '{^(https?:\\/\\/)?(.*?vimeo\\.com\\/.+)}' %}
            {% set id = url | split('/') | last %}
            {% set src = 'https://player.vimeo.com/video/%s' | format(id) %}
            {% set type = 'vimeo' %}
        {% elseif url matches '{^(https?:\\/\\/)?(.*?upload\\.wikimedia\\.org\\/.+)}'%}
            {% set src = url %}
            {% set type = 'wikimedia' %}
        {% endif %}

        {% if src is defined %}
            <p class="embed-responsive embed-responsive-16by9">
                {% if type == "wikimedia" %}
                    <video controls class="embed-responsive-item"
                        src="{{ src }}"></video>
                {% else %}
                    <iframe class="embed-responsive-item" allowfullscreen="1"
                        src="{{ src }}"></iframe>
                {% endif %}
            </p>
        {% else %}
            <p class="text-center">
                <strong>
                    {% trans %} Could not embed video - platform unknown {% endtrans %}
                </strong>
                <br />
            </p>
        {% endif %}
    </section>
    <section itemprop="description editable"
             data-id="{{ entity.getId() }}"
             data-edit-field="description"
             data-edit-type="ory">
        {{ description }}
    </section>
    {% include 'entity/view/partials/license' %}
</article>
{% set discussions %}
<section id="discussion-{{ entity.getId() }}" class="discussions clearfix">
    {{ discussion(entity).render() }}
</section>
{% endset %}
{% do placeholder('discussions').set(discussions) %}
