<div class="blockquote-box blockquote-info discussion-comment {{ blockquoteClass }}">
    <div class="row">
        <div class="col-xs-{{ leftWidth }}">
            <div class="square square-sm blockquote-info">
            <span class="glyphicon-regular glyphicon-lg glyphicon-unshare"></span>
            </div>
            <div class="discussion-actions btn-group">
                {% if isGranted('flag.create', comment) %}
                    <a class="btn btn-xs btn-default"
                       href="{{ url('flag/add', {'id': comment.getId()}) }}">
                        <span class="glyphicon glyphicon-flag"></span> </a>
                {% endif %}
                {% if isGranted('discussion.comment.trash', comment) %}
                    <a href="{{ url('uuid/trash', {'id': comment.getId()}) }}"
                       class="btn btn-xs btn-default dialog"
                       data-content="{% trans %} Do you really want to delete this comment? {% endtrans %}">
                        <span class="glyphicon glyphicon-trash"></span> </a>
                {% endif %}
            </div>
        </div>
        <div class="col-xs-{{ 12 - leftWidth }}">
            <article itemtype="http://schema.org/Comment" itemscope>
                <header class="discussion-head">
                    <div class="discussion-info">
                        {% set time = '<small><span itemprop="dateCreated">' ~ timeago().render(comment.getTimestamp()) ~ '</span></small>' %}
                        {% set author = '<small itemprop="creator" itemscope itemtype="http://schema.org/Person"><span itemprop="name">' ~ normalize().toAnchor(comment.getAuthor()) ~ '</span></small>' %}
                        <div>
                            {% trans %}
                            {{ author }} {{ time }}
                            {% endtrans %}
                        </div>
                    </div>
                </header>
                <section class="discussion-text" itemprop="text">
                    {{ comment.getContent() | nl2br }}
                </section>
            </article>
        </div>
    </div>
</div>