{% set discussions = discussion().getDiscussions(object) %}
{% set form = discussion().getForm('discussion', object, forum) %}
<div class="h1 heading-content">
    {% if isGranted('discussion.create') %}
        <button class="discussion-start btn btn-success pull-right" data-toggle="collapse"
                data-target="#discussion-form-container-{{ object.getId() }}">
            <span class="glyphicon-regular glyphicon-comments"></span> {{ 'Discuss' | trans }}
        </button>
    {% else %}
        <a class="discussion-start btn btn-success pull-right"
           href="{{ url('authentication/login', [], {'query': {'ref': form.getAttribute('action') }}) }}">
            <span class="glyphicon-regular glyphicon-comments"></span> {{ 'Discuss' | trans }}
        </a>
    {% endif %}
    <span>{{ 'Discussions' | trans }}</span>
</div>
<div class="collapse" id="discussion-form-container-{{ object.getId() }}">
    <div class="blockquote blockquote-primary blockquote-box">
        <div class="row">
            <div class="col-md-12 discussion-form">
                {{ form().render(form) }}
            </div>
        </div>
    </div>
</div>
<div class="discussions">
    {% for discussion in discussions %}
        {% include 'discussion/helper/default/discussion' with {'discussion': discussion, 'blockquoteClass': ''} %}
    {% else %}
        <div class="list-group">
            <div class="list-group-item">
                <div class="discussion-text">
                    <span class="text-muted">{% trans %} There are no discussions here yet. {% endtrans %}</span>
                </div>
            </div>
        </div>
    {% endfor %}
</div>