{{ pageHeader('Manage subscriptions' | trans) }}
<table class="table table-striped">
    <thead>
    <tr>
        <td>{{ 'Object' | trans }}</td>
        <td>{{ 'Emails' | trans }}</td>
        <td>{{ 'Subscription' | trans }}</td>
    </tr>
    </thead>
    <tbody>
    {% for subscription in subscriptions %}
        <tr>
            <td>{{ normalize().toAnchor(subscription.getSubscribedObject()) }}</td>
            {% if subscription.getNotifyMailman() %}
                <td>
                    <a href="{{ url('subscription/update', {'object': subscription.getSubscribedObject().getId(), 'email': 0}) }}"
                       class="btn btn-sm btn-block btn-warning">{{ 'Deactivate' | trans }}</a></td>
            {% else %}
                <td>
                    <a href="{{ url('subscription/update', {'object': subscription.getSubscribedObject().getId(), 'email': 1}) }}"
                       class="btn btn-sm btn-block btn-info">{{ 'Activate' | trans }}</a></td>
            {% endif %}
            <td><a href="{{ url('subscription/unsubscribe', {'object': subscription.getSubscribedObject().getId()}) }}"
                   class="btn btn-sm btn-block btn-danger">{{ 'Unsubscribe' | trans }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>