<div>
    {% for child in term.findChildrenByTrashed(false) if child.getType().getName() not in ['topic-folder' , 'curriculum-topic-folder'] %}
        {% set subfolders = "" %}
        {% set group = "" %}
        {% set subfolderLimit = 3 %}
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <p>
                    <span class="h3"><a href="{{ url('taxonomy/term/get', {'term': child.getId()}) }}">{{ child.getName() }}</a></span>
                </p>
                <p>
                    {% if child.getDescription() %}
                        {{ markdown().toHtml(child.getDescription()) }}
                    {% endif %}
                </p>
            </div>
            <div class="col-sm-6 col-xs-12">
                {% for childsChild in child.findChildrenByTrashed(false) if childsChild.getType().getName() not in ['topic-folder' , 'curriculum-topic-folder'] %}
                    {% set currentSub %}
                    <div class="col-xs-12">
                        <a href="{{ url('taxonomy/term/get', {'term': childsChild.getId()}) }}">{{ childsChild.getName() }}</a>
                    </div>
                    {% endset %}
                    {% set subfolders = subfolders ~ currentSub %}
                {% endfor %}
                <!-- Sub folders -->
                {% if subfolders %}
                    <div class="row bottom-buffer-15">
                        <div class="col-xs-2 text-center text-theme">
                            <span class="fa fa-1-5x fa-chevron-right"></span>
                        </div>
                        <div class="col-xs-10">
                            <div class="row">
                                {{ subfolders }}
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% set entities = child.getAssociated('entities') %}
                {% set entities = entity().getVisible(entities) %}
                {% set types = entity().asTypeCollection(entities) %}
                {% if entities.count() %}
                    {% for i in 0..2 %}
                        {% set type = cycle(['course', 'article', 'video'], i) %}
                        {% if types.get(type) %}
                            <div class="row bottom-buffer-15">
                                <div class="col-xs-2 text-center">
                                    <span class="fa fa-1-5x fa-{{ cycle(['graduation-cap', 'newspaper-o', 'play-circle'], i) }}"></span>
                                </div>
                                <div class="col-xs-10">
                                    <div class="row">
                                        {% for link in types.get(type) %}
                                            <div class="col-xs-12">
                                                {% include 'taxonomy/term/entity/default' with {'entity': link} only %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% for childsChild in child.findChildrenByTrashed(false) if childsChild.getType().getName() in ['topic-folder' , 'curriculum-topic-folder'] %}
                    {% set currentGroup %}
                    <div class="col-xs-12">
                        <a href="{{ url('taxonomy/term/get', {'term': childsChild.getId()}) }}">{{ childsChild.getName() }}</a>
                    </div>
                    {% endset %}
                    {% set group = group ~ currentGroup %}
                {% endfor %}
                {% set exerciseCount = 0 %}
                {% if types.get('text-exercise') or types.get('text-exercise-group') %}
                    {% for entity in entities if entity.getType().getName() in ['text-exercise', 'text-exercise-group'] %}
                        {% set exerciseCount = exerciseCount + 1 %}
                    {% endfor %}
                {% endif %}
                {% if exerciseCount %}
                    {% set ecount = exerciseCount %}
                    {% set exercises %}
                        <div class="col-xs-12">
                            <a href="{{ url('taxonomy/term/get', {'term': child.getId()}) }}">
                                {% trans %}
                                Show {{ ecount }} exercises...
                                {% endtrans %}
                            </a>
                        </div>
                    {% endset %}
                    {% set group = group ~ exercises %}
                {% endif %}
                {% if group %}
                    <div class="row bottom-buffer-15">
                        <div class="col-xs-2 text-center">
                            <span class="fa fa-1-5x fa-files-o"></span>
                        </div>
                        <div class="col-xs-10">
                            <div class="row">
                                {{ group }}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <hr>
    {% endfor %}
</div>
