{% if emailsActive %}
    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <span class="fa fa-volume-off"></span>
            {{ 'Unsubscribe' | trans }}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a rel="nofollow" href="{{ url('subscription/update', {'object': object, 'email': 0}) }}">
                    <span class="fa fa-volume-down"></span>
                    {{ 'Stop sending emails' | trans }}
                </a>
            </li>
            <li>
                <a rel="nofollow" href="{{ url('subscription/unsubscribe', {'object': object}) }}">
                    <span class="fa fa-volume-off"></span>
                    {{ 'Unsubscribe' | trans }}
                </a>
            </li>
        </ul>
    </div>
{% else %}
    <div class="btn-group">
        <span class="fa fa-volume-off"></span>
        <a rel="nofollow" href="{{ url('subscription/unsubscribe', {'object': object}) }}"
           class="btn btn-primary">{{ 'Unsubscribe' | trans }}</a>
    </div>
{% endif %}