{% if emailsActive %}
    <li class="dropdown">
        <a rel="nofollow" href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="fa fa-volume-off"></span> {{ 'Unsubscribe' | trans }} <span
                    class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <span class="fa fa-volume-down"></span><a rel="nofollow"
                        href="{{ url('subscription/update', {'object': object, 'email': 0}) }}">{{ 'Stop sending emails' | trans }}</a>
            </li>
            <li>
                <span class="fa fa-volume-off"></span><a rel="nofollow"
                        href="{{ url('subscription/unsubscribe', {'object': object}) }}">{{ 'Unsubscribe' | trans }}</a>
            </li>
        </ul>
    </li>
{% else %}
    <li>
        <a rel="nofollow" href="{{ url('subscription/unsubscribe', {'object': object}) }}">
            <span class="fa fa-volume-off"></span> {{ 'Unsubscribe' | trans }}
        </a>
    </li>
{% endif %}