{% if emailsActive %}
    <li class="dropdown-submenu">
        <a tabindex="-1" href="#">
            <span class="glyphicon-regular glyphicon-eye-close"></span> {{ 'Unsubscribe' | trans }} <span
                    class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <span class="glyphicon-regular glyphicon-volume-down"></span><a
                        href="{{ url('subscription/update', {'object': object, 'email': 0}) }}">{{ 'Stop sending emails' | trans }}</a>
            </li>
            <li>
                <span class="glyphicon-regular glyphicon-mute"></span><a
                        href="{{ url('subscription/unsubscribe', {'object': object}) }}">{{ 'Unsubscribe' | trans }}</a>
            </li>
        </ul>
    </li>
{% else %}
    <li>
        <a href="{{ url('subscription/unsubscribe', {'object': object}) }}"><span
                    class="glyphicon-regular glyphicon-mute"></span> {{ 'Unsubscribe' | trans }}</a>
    </li>
{% endif %}