<section>
    {% if (layout().usingAPI) %}
        <div class="row">
            <div class="col-xs-12">
                {{ 'Source' | trans }}:
                <a href="/{{ entity.getId() }}" target="_blank">
                    {{ 'The Open Learning Platform Serlo.org' | trans }}
                </a>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-xs-12">
            <a href="{{ entity.getLicense().getUrl() }}"
               rel="license nofollow">{{ entity.getLicense().getTitle() }}</a>
                <sub>
                    <a href="{{ url('license/detail', {'id': entity.getLicense().getId()}) }}">{{ 'Info' | trans }}</a>
                </sub>
        </div>
    </div>
</section>
