{% set options = entity().getOptions(entity) %}
{% set revisionGranted = isGranted('entity.revision.create', entity) %}
{% if options.hasComponent('repository') %}
    {% if entity.isUnrevised() %}
        <a rel="nofollow" class="btn btn-success" href="{{ url('entity/repository/history', {'entity': entity.getId()}) }}">
            <span class="fa fa-clock-o"></span>
            <span class="label label-community-light">{{ entity.countUnrevised() }}</span>
        </a>
    {% else %}
        {% if convert or entity().isOryEditorFormat(entity.getCurrentRevision()) %}
            {% if revisionGranted and entity.hasCurrentRevision() %}
                <a rel="nofollow" data-id="{{ entity.getId() }}" class="btn btn-success ory-edit-button">
            {% else %}
                <a rel="nofollow" data-id="{{ entity.getId() }}" class="btn btn-success" href="{{ url('entity/repository/add-revision', {'entity': entity.getId()}) }}">
            {% endif %}
        {% else %}
        <a rel="nofollow" data-id="{{ entity.getId() }}" class="btn btn-success" href="{{ url('entity/repository/add-revision-old', {'entity': entity.getId()}) }}">
        {% endif %}
            <span class="fa fa-pencil"></span>
        </a>
    {% endif %}
{% endif %}
