{{ pageHeader('Manage navigation' | trans).setSubtitle(container.getType().getName()).render() }}
<h3>{{ 'Information' | trans }}</h3>
<ul>
    <li>
        {{ 'Instance: ' | trans }}{{ container.getInstance() }}
    </li>
    <li>
        {{ 'Name: ' | trans }}{{ container.getType() }}
    </li>
</ul>
{% set createbutton %}
<button class="pull-right btn btn-xs btn-default">
    <span class="fa fa-plus"></span>
    {{ 'Page' | trans }}
</button>
{% endset %}
{% include 'navigation/page/create' with {'container': container.getId(), 'sendbutton': createbutton} %}
<h3>{{ 'Pages' | trans }}</h3>
{% include 'navigation/page/partial/tree' with {'pages': container.getPages()} %}