{% do form.prepare() %}
{{ form().openTag(form) }}
{{ formRow(form.get('csrf')) }}
{{ formCollection(form.get('subscription')) }}
<div class="discussion-content-wrapper">
    {{ formRow(form.get('content')) }}
</div>
{{ formSubmit(form.get('start')) }}
{{ form().closeTag() }}
