{% set event = notification.getEvents().current() %}
{% set user = normalize().toAnchor(event.getActor(), true) %}
{% set object %}
    <a href="{{ normalize().toUrl(event.getObject(), true) }}">
        {{ normalize().toPreview(event.getObject()) }}
    </a>
{% endset %}
<div class="dropdown-menu-item">
    {% trans %}
    {{ user }} restored {{ object }}
    {% endtrans %}
    <small> - {{ timeago().render(event.getTimestamp()) }}</small>
</div>