{{ pageHeader(normalize().toTitle(entity)).setSubtitle('History'|trans).setBacklink(normalize().toUrl(entity)).append(contexter().renderButton('right')).render() }}
{% if(entity.countUnrevised() > 1) %}
    <div class="alert alert-info">
        {% trans %} There are multiple recent revisions for this object. Please be aware that they may be of very
        different nature. Consider reviewing all of them before accepting or merging. {% endtrans %}
    </div>
{% endif %}
<table class="table table-striped">
    <thead>
    <tr>
        <th>{% trans %} # {% endtrans %}</th>
        <th>{% trans %} Current {% endtrans %}</th>
        <th>{% trans %} Author {% endtrans %}</th>
        <th>{% trans %} Timestamp {% endtrans %}</th>
    </tr>
    </thead>
    {% for revision in revisions %}
        {% set isCurrent = (revision == currentRevision) %}
        <tr class="{{ isCurrent ? 'active ' : '' }}{{ revision.isTrashed() ? 'warning' : '' }}">
            <td>
                {{ revision.getId() }}
                (<a href="{{ url('entity/repository/compare', {'entity': entity.getId(), 'revision': revision.getId()}) }}">{% trans %}
                    show {% endtrans %}</a>)
            </td>
            <td>{{ isCurrent ? '<span class="glyphicon glyphicon-ok"></span>' : '' }}</td>
            <td>{{ normalize().toAnchor(revision.getAuthor()) }}</td>
            <td>{{ timeago().render(revision.getTimestamp()) }}</td>
        </tr>
    {% endfor %}
</table>