{% set revision = entity.getCurrentRevision() %}
{% set type = entity.getType() %}
{% set inputSolution = revision.get('solution') %}
{% set feedback = markdown().toHtml(revision.get('feedback')) %}
{% set wrongInputs = inputChallenge().fetchWrongInputs(entity) | json_encode() %}

<form class="input-challenge-group">
    <div class="input-challenge-input-wrapper pull-right">
        <input type="text"
               class="input-challenge-input"
               placeholder="{{ 'Type answer' | trans }}"
               data-type="{{ type | escape('html_attr') }}"
               data-solution="{{ inputSolution | escape('html_attr') }}"
               data-feedback="{{ feedback | escape('html_attr') }}"
               data-wrong-inputs="{{ wrongInputs | escape('html_attr') }}">
    </div>
    <div class="row">
        <div class="col-xs-12 input-challenge-feedback pull-right collapse"></div>
    </div>
    <div class="input-challenge-solution">
        {% if showSolution %}
            <div class="solution collapsed" data-toggle="collapse"
                 data-target="#solution-{{ solution.getId() }}">
                <a class="collapse-show-label">
                    {% trans %} Show solution {% endtrans %}
                    <span class="caret"></span>
                </a>
                <a class="collapse-hide-label">
                    {% trans %} Hide solution {% endtrans %}
                    <span class="dropup"><span class="caret"></span></span>
                </a>
            </div>
        {% endif %}
        <button class="btn btn-primary btn-xs input-challenge-submit pull-right">
            <span class="input-challenge-submit-check">
                <i class="fa fa-check-circle"></i>
                {{ 'Check' | trans }}
            </span>
            <span class="input-challenge-submit-correct">
                <i class="fa fa-smile-o"></i>
                {{ 'Correct!' |trans }}
            </span>
        </button>
        <div style="clear:both;"></div>
    </div>
</form>
