{% set revision = entity.getCurrentRevision() %}
{% set wrongContent = 'Nope. Try again!' | trans %}
{% set defaultFeedback = '<p>' ~ wrongContent ~ '</p>' %}
{% set displayContent = 'This answer has been created but no content has been added yet or it is pending approval.' | trans %}
{% set feedbackContent = '' %}
{% if revision %}
    {% set feedbackContent = renderer.toHtml(revision.get('feedback'), entity.getId()) %}
    {% set displayContent = renderer.toHtml(revision.get('content'), entity.getId()) %}
{% endif %}
{% set feedback = feedbackContent ? feedbackContent : defaultFeedback %}

<div class="col-sm-3 single-choice-answer-group" itemprop="articleBody">
    <button class="btn single-choice-answer-content button-default editable"
            name="single-choice-answer-choice-{{  parent.getID() }}"
            data-correct="{{ right }}"
            data-id="{{ entity.getId() }}"
            data-edit-field="content"
            data-edit-type="ory"
    >
        {{ displayContent | raw }}
    </button>
    {% if not right %}
    <div class="single-choice-answer-feedback collapse">
        <div class="alert alert-warning editable"
             data-id="{{ entity.getId() }}"
             data-edit-field="feedback"
             data-edit-type="ory"
        >
            {{ feedback | raw }}
        </div>
    </div>
    {% endif %}
</div>
