{% set revision = entity.getCurrentRevision() %}
{% set solution = entity.getChildren('link', 'text-solution').first() %}
{% set showSolution = (solution and solution.hasCurrentRevision() and not solution.isTrashed()) %}
{% set hint = entity.getChildren('link', 'text-hint').first() %}
{% set showHint = (hint and hint.hasCurrentRevision() and not hint.isTrashed()) %}
{% set singleChoices = singleChoice().fetchSingleChoice(entity) %}
{% set multipleChoices = multipleChoice().fetchMultipleChoice(entity) %}
{% set rightContent = 'Right!' | trans %}
{% set defaultFeedback = '<p>' ~ rightContent ~ '</p>' %}
{% set feedbackContent = '' %}
{% set feedbackContent = markdown().toHtml(singleChoice().fetchPositiveFeedback(entity)) %}
{% set positiveFeedback = feedbackContent ? feedbackContent : defaultFeedback %}
{% set inputChallenge = inputChallenge().fetchInput(entity) %}
<article class="text-exercise  {{ multipleChoices|length>4 or singleChoices|length>4 ? 'extended' }}" itemscope itemtype="http://schema.org/Article">
    <section class="row">
        <div class="col-xs-12 col-sm-11" itemprop="articleBody">
            {{ markdown().toHtml(revision.get('content')) | raw }}
        </div>
        <div class="hidden-xs col-sm-1" style="padding:0">
            <div class="pull-right">
                <div class="btn-group">
                    {% set subitems = [] %}
                    {% for answer in singleChoices %}
                        {% set subitems = subitems|merge([answer['entity']]) %}
                    {% endfor %}
                    {% for answer in multipleChoices %}
                        {% set subitems = subitems|merge([answer['entity']]) %}
                    {% endfor %}
                    {% if inputChallenge %}
                        {% set subitems = subitems|merge([inputChallenge]) %}
                        {% for child in inputChallenge().fetchWrongInputs(inputChallenge) %}
                            {% set subitems = subitems|merge([child['entity']]) %}
                        {% endfor %}
                    {% endif %}
                    {% include 'entity/view/partials/actions/small-essential' with {'entity': entity, 'subitems': subitems} %}
                </div>
            </div>
        </div>
    </section>
    {% if singleChoices|length > 0 %}
        <section>
            <form class="single-choice-group">
                <div class="row btn-group">
                {% for answer in singleChoices %}
                    {% include 'entity/view/default' with {'entity': answer['entity'], 'right': answer['right'], 'parent': entity} only %}
                {% endfor %}
                </div>
                <div class="row">
                    <div class="col-xs-12 single-choice-answer-feedback positive collapse">
                        <div class="pull-right">
                            {{ positiveFeedback | raw }}
                        </div>
                    </div>
                </div>
                <div class="single-choice-solution">
                    {% if showSolution %}
                        <div class="solution collapsed" data-toggle="collapse"
                             data-target="#solution-{{ solution.getId() }}">
                            <a class="collapse-show-label">{% trans %} Show solution {% endtrans %}<span class="caret"></span></a>
                            <a class="collapse-hide-label">{% trans %} Hide solution {% endtrans %}<span class="dropup"><span class="caret"></span></span></a>
                        </div>
                    {% endif %}
                    <button class="btn btn-primary btn-xs single-choice-submit pull-right">
                        <span class="single-choice-submit-check">
                            <i class="fa fa-check-circle"></i>
                            {{ 'Check' | trans }}
                        </span>

                        <span class="single-choice-submit-correct">
                            <i class="fa fa-smile-o"></i>
                            {{ 'Correct!' |trans }}
                        </span>
                    </button>
                    <div style="clear:both;"></div>
                </div>
            </form>
        </section>
    {% endif %}
    {% if multipleChoices|length > 0 %}
        <section>
            <form class="multiple-choice-group">
                <div class="row btn-group">
                    {% for answer in multipleChoices %}
                        {% include 'entity/view/default' with {'entity': answer['entity'], 'right': answer['right'], 'parent': entity} only %}
                    {% endfor %}
                </div>

                <div class="row">
                    <div class="col-xs-12 multiple-choice-answer-feedback negative collapse">
                        <div class="pull-right">
                            <p>
                               {{ 'This solution is not correct.' | trans }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 multiple-choice-answer-feedback positive collapse">
                        <div class="pull-right">
                            <p>
                                {{ 'This solution is correct!' | trans }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 multiple-choice-answer-feedback missing-solutions collapse">
                        <div class="pull-right">
                            <p>
                                {{ 'Not quite. There is something missing!' | trans }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="multiple-choice-solution">
                    {% if showSolution %}
                        <div class="solution collapsed" data-toggle="collapse"
                             data-target="#solution-{{ solution.getId() }}">
                            <a class="collapse-show-label">{% trans %} Show solution {% endtrans %}<span class="caret"></span></a>
                            <a class="collapse-hide-label">{% trans %} Hide solution {% endtrans %}<span class="dropup"><span class="caret"></span></span></a>
                        </div>
                    {% endif %}
                    <button class="btn btn-primary btn-xs multiple-choice-submit pull-right">
                        <span class="multiple-choice-submit-check">
                            <i class="fa fa-check-circle"></i>
                            {{ 'Check' | trans }}
                        </span>

                        <span class="multiple-choice-submit-correct">
                            <i class="fa fa-smile-o"></i>
                            {{ 'Correct!' |trans }}
                        </span>
                    </button>
                    <div style="clear:both;"></div>
                </div>
            </form>
        </section>
    {% endif %}
    {% if showHint %}
        <div class="solution collapsed" data-toggle="collapse"
             data-target="#hint-{{ hint.getId() }}">
            <a class="collapse-show-label">{% trans %} Show hint {% endtrans %}<span class="caret"></span></a>
            <a class="collapse-hide-label">{% trans %} Hide hint {% endtrans %}<span class="dropup"><span class="caret"></span></span></a>
        </div>
    {% endif %}
    {% if singleChoices|length == 0 and multipleChoices|length == 0 and not inputChallenge and showSolution %}
        <div class="solution collapsed" data-toggle="collapse"
             data-target="#solution-{{ solution.getId() }}">
            <a class="collapse-show-label">{% trans %} Show solution {% endtrans %}<span class="caret"></span></a>
            <a class="collapse-hide-label">{% trans %} Hide solution {% endtrans %}<span class="dropup"><span class="caret"></span></span></a>
        </div>
    {% endif %}
    {% if inputChallenge %}
        <section>
            {% include 'entity/view/default' with {
                'entity': inputChallenge,
                'solution': solution,
                'showSolution': showSolution,
                'collapse': true
            } only %}
        </section>
    {% endif %}
    {% if showHint %}
        <section>
            {% include 'entity/view/default' with {'entity': hint, 'collapse': true} only %}
        </section>
    {% endif %}
    {% if showSolution %}
        <section>
            {% include 'entity/view/default' with {'entity': solution, 'collapse': true} only %}
        </section>
    {% endif %}
</article>
