{##
 # This file is part of Athene2.
 #
 # Copyright (c) 2013-2019 Serlo Education e.V.
 #
 # Licensed under the Apache License, Version 2.0 (the "License")
 # you may not use this file except in compliance with the License
 # You may obtain a copy of the License at
 #
 #    http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License.
 #
 # @copyright Copyright (c) 2013-2019 Serlo Education e.V.
 # @license   http://www.apache.org/licenses/LICENSE-2.0 Apache License 2.0
 # @link      https://github.com/serlo-org/athene2 for the canonical source repository
 #}
{% do normalize().headMeta(entity) %}
{% set title = normalize().toTitle(entity) %}
{% do headTitle(title ~ ' - ' ~ entity().findSubject(entity) ~ ' ' ~ (entity.getType().getName() | trans)) %}
{% set revision = entity.getCurrentRevision() %}
{% set title = revision.get('title') %}
{% set pages = entity.getValidChildren('link', 'course-page')%}
{% set description = markdown().toHtml(revision.get('description'))  %}

{% include 'entity/page/partials/alerts' %}
{% include 'entity/page/partials/placeholders' %}
<div itemscope itemtype="http://schema.org/Article">
    <div class="page-header">
        <h1><span itemprop=”name”>{{ title }}</span></h1>
    </div>
    <div itemprop="articleBody">
        {% include 'entity/page/partials/alerts' %}
        <section>
            {{ description }}
        </section>
        {% for page in pages %}
            {% set pagerevision = page.getCurrentRevision() %}
            {% set icon = pagerevision.get('icon', 'book') %}

            <div class="toc">
                <a href="{{ normalize().toUrl(page) }}">
                   <span>{{ pagerevision.get('title') }}</span>
                </a>
            </div>
        {% endfor %}

        {% include 'entity/view/partials/license' %}

        <section id="discussion-{{ entity.getId() }}">
            {{ discussion(entity).render() }}
        </section>
    </div>
</div>
{% set courseNav = include('entity/page/course-navigation', {'entity': entity, 'activePage': entity, 'elementsBefore':3, 'elementsAfter':3 }) %}
{% set temp = registry().add('rnav', courseNav) %}
{% set temp = registry().add('rnav-is-course', true) %}
