{##
 # This file is part of Athene2.
 #
 # Copyright (c) 2013-2018 Serlo Education e.V.
 #
 # Licensed under the Apache License, Version 2.0 (the "License")
 # you may not use this file except in compliance with the License
 # You may obtain a copy of the License at
 #
 #    http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License.
 #
 # @copyright Copyright (c) 2013-2018 Serlo Education e.V.
 # @license   http://www.apache.org/licenses/LICENSE-2.0 Apache License 2.0
 # @link      https://github.com/serlo-org/athene2 for the canonical source repository
 #}
<ul class="nav nav-pills" role="navigation">
{% if isGranted('page.revision.create', page) %}
        <li>
            <a href="{{ url('page/revision/create', {'page': page.getId(), 'revision': revision.getId()}) }}">
                <span class="fa fa-pencil"></span> {% trans %} Edit {% endtrans %}
            </a>
        </li>
    {% endif %}
    {{ subscribe(page).menuItem() }}
    <li class="dropdown pull-right">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            {% trans %} More {% endtrans %}
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="{{ url('page/revision/view-all', {'page': page.getId()}) }}">
                    <span class="fa fa-clock-o"></span> {% trans %} History {% endtrans %}
                </a>
            </li>
            {% if isGranted('event.log.get', page) %}
                <li>
                    <a href="{{ url('event/history/object', {'id': page.getId()}) }}"> <span
                                class="fa fa-heartbeat"></span> {% trans %} Log {% endtrans %}
                    </a>
                </li>
            {% endif %}
            {% if page.getCurrentRevision() is not same as (revision) %}
                <li>
                    {% set trashbutton %}
                    <button class="btn dropdown-menu-item">
                        <span class="fa fa-trash"></span> {% trans %} Trash {% endtrans %}
                    </button>
                    {% endset %}
                    {% include 'common/csrfform' with {'form': uuidForm().getTrashForm(revision.getId()), 'sendbutton': trashbutton} %}
                </li>
                <li>
                    <a href="{{ url('page/revision/checkout', {'page': page.getId(), 'revision': revision.getId()}) }}"
                       class="btn dropdown-menu-item">
                        <span class="fa fa-check"> {% trans %} Set as base revision {% endtrans %} </a>
                </li>
            {% endif %}
            {% if isGranted('page.update', page) %}
                <li>
                    <a href="{{ url('page/update', {'page': page.getId()}) }}">
                        <span class="fa fa-cog"></span>
                        {% trans %} Settings {% endtrans %}
                    </a>
                </li>
            {% endif %}
        </ul>
    </li>
</ul>
