<div class="btn-group btn-group-community">
    {% if isGranted('page.revision.create', page) %}
     <a class="btn btn-success" href="{{ url('page/revision/create', {'page': page.getId(), 'revision': revision.getId()}) }}">
         <span class="fa fa-pencil"></span>
     </a>
    {% endif %}
    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">{{ 'Toggle Dropdown' | trans }}</span>
    </button>
    <ul class="dropdown-menu pull-right" role="menu">
        {{ subscribe(page).subMenuItem() }}
        <li>
            <a href="{{ url('page/revision/view-all', {'page': page.getId()}) }}">
                <span class="fa fa-clock-o"></span> {% trans %} History {% endtrans %}
            </a>
        </li>
        {% if isGranted('event.log.get', page) %}
            <li>
                <a href="{{ url('event/history/object', {'id': page.getId()}) }}"> <span
                            class="fa fa-heartbeat"></span> {% trans %} Log {% endtrans %}
                </a>
            </li>
        {% endif %}
        {% if page.getCurrentRevision() is not same as (revision) %}
            <li>
                {% set trashbutton %}
                <button class="btn dropdown-menu-item">
                    <span class="fa fa-trash"></span> {% trans %} Trash {% endtrans %}
                </button>
                {% endset %}
                {% include 'uuid/trash' with {'uuid': revision.getId(), 'sendbutton': trashbutton} %}
            </li>
            <li>
                <a href="{{ url('page/revision/checkout', {'page': page.getId(), 'revision': revision.getId()}) }}"
                   class="btn dropdown-menu-item">
                    <span class="fa fa-check"> {% trans %} Set as base revision {% endtrans %} </a>
            </li>
        {% endif %}
        {% if isGranted('page.update', page) %}
            <li>
                <a href="{{ url('page/update', {'page': page.getId()}) }}">
                    <span class="fa fa-cog"></span>
                    {% trans %} Settings {% endtrans %}
                </a>
            </li>
        {% endif %}
    </ul>
</div>
