{{ pageHeader(user.getUsername()).setSubtitle('Profile'|trans).append('<div class="pull-right">' ~ subscribe(user).button() ~ '</div>') }}
{% do normalize().headMeta(user) %}
<div class="row">
    <div class="col-xs-12">
        {{ markdown().toHtml(user.getDescription()) | raw }}
    </div>
</div>
<h1 class="heading-content">{{ 'Statistics' | trans }}</h1>
<div class="row">
    <div class="col-xs-3">
        {{ 'Comments:' | trans }}
    </div>
    <div class="col-xs-9">
        {{ eventLog().countEventsFoundByActorAndNames(user, ['discussion/create', 'discussion/comment/create']) }}
    </div>
</div>
<hr noshade>
<div class="row">
    <div class="col-xs-3">
        {{ 'Edits:' | trans }}
    </div>
    <div class="col-xs-9">
        {{ eventLog().countEventsFoundByActorAndNames(user, ['entity/revision/add']) }}
    </div>
</div>
<hr noshade>
<div class="row">
    <div class="col-xs-3">
        {{ 'Reviews:' | trans }}
    </div>
    <div class="col-xs-9">
        {{ eventLog().countEventsFoundByActorAndNames(user, ['entity/revision/reject', 'entity/revision/checkout']) }}
    </div>
</div>
<hr noshade>
<div class="row">
    <div class="col-xs-3">
        {{ 'Taxonomy associations:' | trans }}
    </div>
    <div class="col-xs-9">
        {{ eventLog().countEventsFoundByActorAndNames(user, ['taxonomy/term/associate', 'taxonomy/term/dissociate']) }}
    </div>
</div>
<hr noshade>
<div class="row">
    <div class="col-xs-3">
        {{ 'Taxonomy changes:' | trans }}
    </div>
    <div class="col-xs-9">
        {{ eventLog().countEventsFoundByActorAndNames(user, ['taxonomy/term/create', 'taxonomy/term/update', 'taxonomy/term/parent/change']) }}
    </div>
</div>
<hr noshade>
<div class="row">
    <div class="col-xs-3">
        {{ 'Total deletions:' | trans }}
    </div>
    <div class="col-xs-9">
        {{ eventLog().countEventsFoundByActorAndNames(user, ['uuid/delete']) }}
    </div>
</div>
{{ discussion(user).render() }}
<h1 class="heading-content">{{ 'Recent activities' | trans }}</h1>
<div class="row">
    <div class="col-xs-12">
        {{ eventLog().renderUserLog(user.getId(), 50) }}
    </div>
</div>
{% if user.getLastLogin() %}
    <h1 class="heading-content">{{ 'Last seen' | trans }}</h1>
    <div class="row">
        <div class="col-xs-12">
            {{ timeago().format(user.getLastLogin()) }}
        </div>
    </div>
{% endif %}
<h1 class="heading-content">{{ 'Roles' | trans }}</h1>
<div class="row">
    <div class="col-xs-12">
        {% for role in user.getRoles() %}
            <span class="badge badge-default">{{ role.getName() }}</span>
        {% endfor %}
    </div>
</div>
