{% do placeholder('hideSubjectNav').set(true) %}

{{ pageHeader('Sign up' | trans) }}

{% set usernameErrors        = formElementErrors(form.get('username')) %}
{% set emailErrors           = formElementErrors(form.get('email')) %}
{% set emailConfirmErrors    = formElementErrors(form.get('emailConfirm')) %}
{% set passwordErrors        = formElementErrors(form.get('password')) %}
{% set passwordConfirmErrors = formElementErrors(form.get('passwordConfirm')) %}

{% do form.prepare() %}
{{ form().openTag(form) }}
{{ formHidden(form.get('csrf')) }}
<fieldset>
    <legend>{{ "Username"|trans }}</legend>
    <div class="form-group{{ usernameErrors ? ' has-error' }}">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            {{ formElement(form.get('username')) }}
        </div>
        {{ usernameErrors }}
    </div>
</fieldset>
<fieldset>
    <legend>{{ "Email"|trans }}</legend>
    <div class="form-group{{ emailErrors ? ' has-error' }}">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
            {{ formElement(form.get('email')) }}
        </div>
        {{ emailErrors }}
    </div>
    <div class="form-group{{ emailConfirmErrors ? ' has-error' }}">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
            {{ formElement(form.get('emailConfirm')) }}
        </div>
        {{ emailConfirmErrors }}
    </div>
</fieldset>
<fieldset>
    <legend>{{ "Password"|trans }}</legend>
    <div class="form-group{{ passwordErrors ? ' has-error' }}">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            {{ formElement(form.get('password')) }}
        </div>
        {{ passwordErrors }}
    </div>
    <div class="form-group{{ passwordConfirmErrors ? ' has-error' }}">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            {{ formElement(form.get('passwordConfirm')) }}
        </div>
        {{ passwordConfirmErrors }}
    </div>
</fieldset>
<div class="form-group">
    {% trans %}By clicking <em>Sign up</em>, you agree to our <a href="/21654">Terms of Service</a>.{% endtrans %}
</div>
<div class="form-group">
    {{ formElement(form.get('submit')) }}
</div>
{{ form().closeTag(form) }}
